.preview-list {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    max-height: 100vh;
    overflow-y: auto;
}

.filter-query-container {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    background-color: white;
    padding: 10px;
    padding-bottom: 50px;
}

.preview-item:hover {
    background-color: lightgreen;
}

.preview-description {
    width: auto;
    word-wrap: anywhere;
    padding-right: 15px;
}

.preview-title {
    word-wrap: anywhere;
    font-size: 1.5rem;
    padding-right: 15px;
}

.preview-image {
    width: 50;
    height: 50;
}

.modal-content {
    max-height: 90vh;
}

.modal-body {
    overflow-y: auto;
}