html,
body {
  height: 101vh;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  max-width: 65vh;
}

.title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 100%;
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  border: solid 0.5rem #d6ce15;
  border-radius: 0.5rem;
  background-color: #d6ce15;
}

.conway-container {
  width: 100%;
  height: auto;
  background-color: green;
  border: 2px solid #a4a71e;
  border-radius: 2px;
}

.conway-container img {
  width: 100%;
  height: auto;
}

.menu-bar {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}